.btn {
    margin-left: 1rem;
    margin-top: 5rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(24, 93, 95);
    color: white;
    padding: 0.3rem;
    font-weight: 400;
}





